{% set sizes = [{width: 295, height: 238}, {width: 700, height: 564}, {width: 1400, height: 1128}] %}
<a href="{{ data.url }}" class="hw-teaser">
  <div class="hw-teaser__wrapper">
    <div class="row">
      <figure class="hw-teaser__image-container">
        <img src="{{ data.imageUrl }}"
{#              sizes="{% if data.formats is defined and data.formats %}{{ data.formats }}{% else %}(min-width: 960px) 295px, (min-width: 720px) 62.5vw, 100vw{% endif %}"
          {% if craft is defined %}
            {% if data.sizes is defined and data.sizes %}
              srcset=" {% for size in data.sizes %}{{ craft.aeg.scaledImage(data.imageUrl, size.width, size.height) }} {{ size.width }}w{% if not loop.last %},{% endif %}{% endfor %}"
            {% else %}
              srcset=" {% for size in sizes %}{{ craft.aeg.scaledImage(data.imageUrl, size.width, size.height) }} {{ size.width }}w{% if not loop.last %},{% endif %}{% endfor %}"
            {% endif %}
          {% else %}
            {% if data.sizes is defined and data.sizes %}
              srcset=" {% for size in data.sizes %}{{ data.imageUrl }}_{{ size.width }}x{{ size.height }}.jpg {{ size.width }}w{% if not loop.last %},{% endif %}{% endfor %}"
            {% else %}
              srcset=" {% for size in sizes %}{{ data.imageUrl }}_{{ size.width }}x{{ size.height }}.jpg {{ size.width }}w{% if not loop.last %},{% endif %}{% endfor %}"
            {% endif %}
          {% endif %} #}
             alt="half-width teaser"
             class="hw-teaser__image">
      </figure>
      <article class="hw-teaser__text-container">
        <h2 class="hw-teaser__header">{{ data.title }}</h2>
        <p class="hw-teaser__info">{{ data.copy | truncate(250, true) }}<span class="icon-Arrow_Right_small icon"></span></p>
      </article>
    </div>
  </div>
</a>
